@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Bold.ttf);
    font-weight: 800;
}

html {
    overflow-x: hidden;
    // scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

p,
a,
span {
    font-weight: 400;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

div {
    font-family: Poppins;
    font-weight: 400;
}

// header menu , search
header {
    .sl-header {
        padding: 100px 0;
        display: flex;
    }

    @media screen and (max-width: 576px) {
        .sl-header {
            display: block;
        }

    }

    .navbar {
        width: 100% !important;
        z-index: 20;
    }

    .nav-link {
        font-size: 16px;
    }

    .navbar {
        padding: 48px 0;
        background-color: transparent;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;

        ul {
            li {
                padding: 30px;

                a {
                    position: relative;
                    transition: all 0.5s ease-in-out;

                    &::after {
                        width: 0;
                        content: ' ';
                        height: 2px;
                        background-color: #5956E9;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 0.5s ease-in-out;

                    }

                    &:hover,
                    &.active {
                        color: #000;

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        /*Search */
        .searchbar {
            position: relative;
            min-width: 50px;
            width: 0%;
            height: 35px;
            float: right;
            overflow: hidden;
            transition: width 0.3s;
            margin: 0 20px;
        }

        .searchbar-input {
            top: 0;
            right: 0;
            border: 0;
            outline: 0;
            background: transparent;
            width: 100%;
            height: 35px;
            margin: 0;
            padding: 0px 40px 0px 20px;
            font-size: 14px;
            font-weight: 300;
            color: #666;
        }

        .searchbar-input::-webkit-input-placeholder {
            color: #666;
        }

        .searchbar-input:-moz-placeholder {
            color: #666;
        }

        .searchbar-input::-moz-placeholder {
            color: #666;
        }

        .searchbar-input:-ms-input-placeholder {
            color: #666;
        }

        .searchbar-icon,
        .searchbar-submit {
            width: 35px;
            height: 35px;
            position: absolute;
            top: 0;
            font-size: 22px;
            right: 0;
            padding: 0;
            margin: 0;
            border: 0;
            outline: 0;
            line-height: 35px;
            text-align: center;
            cursor: pointer;
            color: #FFF;
            background: transparent;
            // border-left: 1px solid white
        }

        .searchbar-icon {
            display: block;
        }

        .searchbar-submit {
            display: none;

        }

        .searchbar-open {
            width: 100%;
            // border: 1px solid #999FAE;
            box-shadow: 0 .125rem .625rem rgba(0, 0, 0, .05);
            border-radius: 5px;
            background-color: #FFF;

            .searchbar-icon,
            .searchbar-submit {
                color: #666;
            }
        }


        &.fixed-top {
            background-color: #fff;
            padding: 0 20px;
            box-shadow: 0px 0.5px 3px #d2d2d2;

            .searchbar-submit,
            .searchbar-icon {
                color: #666;
            }
        }

        @media screen and (max-width: 576px) {
            .searchbar {
                margin: 6px auto;
                max-width: 100%;
            }

            .searchbar-submit,
            .searchbar-icon {
                color: #666;
            }
        }
    }

    .form-control {
        box-shadow: none;
    }

    .btn-login {
        min-width: 180px;
        background: #FAB8C4;
        color: #5956E9;
        border: none;
        height: 60px;
        border-radius: 30px;

        @media screen and (min-width: 576px) and (max-width:1024px) {
            .btn-login {
                display: none;
            }
        }

        @media screen and (max-width: 576px) {
            .btn-login {
                display: none;

            }
        }
    }

    h1.slider-title {
        font-size: 94px;
        color: #292930;
    }


    .color-p-white {
        color: #999FAE;
        font-size: 18px;
    }



    .slider-control {
        display: flex;
        justify-content: space-between;
    }


    .main_link {
        margin-left: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;

        .img-link {
            margin-top: -3px;
            margin-right: 10px;
        }

        .text-link {

            color: #999FAE;
            font-weight: 500;

            &:hover {
                color: #bec2ca;
            }
        }
    }

}

// slider , background
.slider-header {
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

    // .main-pic-wrapper {
    //     position: relative;
    // }

    .main-pic {
        position: absolute;

        .main-pic-1 {
            position: absolute;
            z-index: 2;
            left: -20px;
            bottom: 100px;
            width: 235px;
        }

        .main-pic-2 {
            position: absolute;
            z-index: 2;
            top: -15px;
            right: 0;
            width: 320px;
        }

        .main-pic-3 {
            position: absolute;
            z-index: 2;
            right: 100px;
            bottom: 10px;
        }

        .main-pic-4 {
            position: relative;
            z-index: 1;
        }

        @media screen and (max-width: 576px) {

            .navbar,
            .navbar.fixed-top {
                background: #fff !important;
                padding: 0 20px !important;
                box-shadow: 0px 0.5px 3px #d2d2d2;
            }

            .slider-title {
                font-size: 70px !important;
            }

            .btn-login {
                display: none;
            }


            ul.navbar-nav.mr-auto {
                background-color: #fff;
            }

            li.nav-item {
                padding: 0 !important;

                &:first-of-type a {
                    border-top: 1px dashed #eee;
                }
            }

            a.nav-link {
                padding: 12px 20px !important;
                border-bottom: 1px dashed #eee;


            }

            .main_link {
                display: none !important;
            }

            .main-pic {
                position: relative !important;

                .main-pic-1 {
                    left: calc(50% - 180px) !important;
                    bottom: 20px !important;
                    width: 130px !important;
                }

                .main-pic-2 {
                    top: 20px !important;
                    right: calc(50% - 130px) !important;
                    width: 110px !important;
                }

                .main-pic-3 {
                    right: calc(50% - 135px) !important;
                    bottom: 0px !important;
                    width: 45px;
                    right: 70px !important;
                }

                .main-pic-4 {
                    z-index: 1;
                }

            }

        }


    }

}

header {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;

    .header-circles {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .header-circle-1 {
            position: absolute;
            top: -200px;
            left: -200px;
            width: 400px;
            height: 400px;
            border-radius: 100%;
            background: #FFDC60;

        }

        .header-circle-2 {
            position: absolute;
            top: 44%;
            left: calc(50% - 620px);
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background: #FAB8C4;
        }

        .header-circle-3 {
            position: absolute;
            left: 46%;
            top: 300px;
            z-index: 2;
            width: 128px;
            height: 128px;
            border-radius: 100%;
            background: #FFDC60;
        }

        // .header-circle-4 {
        //     position: absolute;
        //     left: 49.5%;
        //     bottom: 253px;
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 100%;
        //     background: #5956E9;
        // }

        .header-circle-5 {
            position: absolute;
            right: calc(50% - 250px);
            bottom: 50px;
            z-index: 2;
            width: 180px;
            height: 180px;
            border-radius: 100%;
            background: #FAB8C4;
        }

        .header-circle-6 {
            position: absolute;
            left: 49.5%;
            bottom: 253px;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background: #5956E9;
        }

        .header-circle-7 {
            position: absolute;
            top: 42%;
            right: calc(50% - 520px);
            z-index: 2;
            width: 103px;
            height: 103px;
            border-radius: 100%;
            background: #fff;
        }

        .header-circle-8 {
            position: absolute;
            top: -98px;
            right: calc(50% - 1330px);
            width: 1220px;
            height: 1220px;
            border-radius: 100%;
            background: #5956E9;
        }

        @media screen and (max-width: 576px) {

            .header-circle-1 {
                display: none;
            }

            .header-circle-2 {
                display: none;
            }

            .header-circle-3 {
                left: 10%;
                top: 230px;
                width: 48px;
                height: 48px;
            }

            .header-circle-4 {
                display: none;
            }

            .header-circle-5 {
                position: absolute;
                right: 0;
                bottom: 120px;
                z-index: 8;
            }

            .header-circle-6 {
                display: none;
            }

            .header-circle-7 {
                display: none;
            }

            .header-circle-8 {
                position: absolute;
                top: 370px;
                right: calc(50% - 250px);
                width: 170px;
                height: 170px;
            }
        }

    }
}

.container {
    padding: 0 30px;
}

@media screen and (max-width: 576px) {
    .sl-header {
        padding-top: 0;
    }

    .slider-header {
        padding-top: 0;
    }

    .navbar,
    .navbar.fixed-top {
        background: #fff !important;
        padding: 0 20px !important;
        box-shadow: 0px 0.5px 3px #d2d2d2;
    }

    .slider-title {
        font-size: 65px !important;
    }

    .btn-login {
        display: none;
    }


    ul.navbar-nav.mr-auto {
        background-color: #fff;
    }

    li.nav-item {
        padding: 0 !important;

        &:first-of-type a {
            border-top: 1px dashed #eee;
        }
    }

    a.nav-link {
        padding: 12px 20px !important;
        border-bottom: 1px dashed #eee;


    }

    .main_link {
        display: none !important;
    }

    .main-pic {
        position: relative !important;

        .main-pic-1 {
            left: calc(50% - 180px) !important;
            bottom: 60px !important;
            width: 130px !important;
        }

        .main-pic-2 {
            top: 20px !important;
            right: calc(50% - 150px) !important;
            width: 140px !important;
        }

        .main-pic-3 {
            right: calc(50% - 135px) !important;
            bottom: 0px !important;
            width: 45px;
            right: 70px !important;
        }

        .main-pic-4 {
            z-index: 1;
        }

    }

    .header-circles {

        .header-circle-1 {
            display: none !important;

        }

        .header-circle-2 {
            display: none !important;
        }

        .header-circle-3 {
            left: 10% !important;
            top: 70px !important;
            width: 35px !important;
            height: 35px !important;
        }

        .header-circle-4 {
            display: none !important;
        }

        .header-circle-5 {
            position: absolute;
            right: 0;
            bottom: 120px !important;
            z-index: 8;
        }

        .header-circle-6 {
            display: none !important;
        }

        .header-circle-7 {
            display: none !important;
        }

        .header-circle-8 {
            position: absolute;
            top: 200px !important;
            right: calc(50% - 250px) !important;
            width: 170px !important;
            height: 170px !important;
        }
    }
}

// button
.btn-purple {
    background: #5956E9;
    color: #fff;
    border: none;
    height: 60px;
    border-radius: 30px;
    // margin-right: 10px;
    padding: 0 40px;
}

.btn-white {
    background: #ffffff;
    color: #2522BA;
    border: none;
    height: 60px;
    border-radius: 30px;
    // margin-right: 10px;
    padding: 0 30px;
}

.btn-pink {
    background: #FAB8C4;
    color: #27272E;
    border: none;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    padding: 0 30px;
}

//features
#features {
    position: relative;
    overflow: hidden;
    background: #27272E;
    color: #fff;
    z-index: 1;
    padding: 0;
    padding: 150px 0;

    .features-bg {
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;

        .features-circle {
            position: absolute;
            top: 115px;
            right: calc(50% - 520px);
            width: 268px;
            height: 268px;
            border-radius: 50%;
            background: #525260;
            z-index: 1;
        }

    }

    .features-body {
        display: flex;
        margin: 100px 0;
        width: 100%;
        position: relative;
        z-index: 10;
    }

    .features-header {
        margin-bottom: 150px;
    }

    .features-title {
        font-size: 70px;
    }

    span {
        color: #bec2ca;
    }

    .sub-title {
        width: 505px;
        font-size: 18px;
        font-weight: 400;
    }

    .item {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .features-icon {
            width: 180px;
            height: auto;
        }
    }

    .features-i-title {
        padding: 20px 0;
        font-size: 24px;
    }

    .features-icon {
        top: 0;
    }

    .f-span-text {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5)
    }



    .find-more {
        margin-top: 30px;
    }

    a {
        font-size: 16px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5)
    }

    .btn-arrow {
        margin: 30px 0;
    }

    .slick-arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0.5px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
    }

    .icon {
        color: rgb(240, 240, 240);
    }

    button.next-btn.slick-arrow {
        margin-left: 20px;
    }

}

@media screen and (max-width: 576px) {

    p,
    a,
    span {
        font-weight: 400;
        font-size: 16px;
    }

    .title {
        font-size: 35px !important;
    }

    #features {
        padding: 50px 0;

        .features-body {
            margin: 30px 0;
        }

        .features-header {
            margin-bottom: 30px;
        }

        .item {
            padding: 0;
        }

        .features-i-title {
            font-size: 18px;
        }
    }

    .sub-title {
        max-width: 250px;

    }

    .features-circle {
        display: none;
    }

}

// css section
section {
    padding: 100px 0;
}

// css stage span
.stage {
    font-weight: 600;
}

// css title h2
.title {
    font-size: 70px;
    margin-bottom: 30px;
}

.sub-title {
    color: rgba(255, 255, 255, 0.5);
}

.pic {
    width: 100%;
}



.title-color {
    color: #5956E9;
    font-size: 70px;
}

/* Css id layout */

#layouts {
    display: flex;
    justify-content: center;
    align-items: center;

    .sub-title {
        color: #999FAE;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .layout-list {
        display: flex;
        justify-content: space-between;

        .layout-img {
            margin: 20px 0;
            display: flex;
            align-items: center;
        }

        .layouts-text {
            display: flex;
            align-items: center;
            color: #292930;
            font-size: 18px;
            font-weight: 500;
        }
    }

    .layouts-pic {
        position: relative;

        .layouts-pic-1 {
            position: absolute;
            left: 80px;
            bottom: 149px;
            width: 160px;
            z-index: 2;
        }

        .layouts-pic-2 {
            position: absolute;
            right: 150px;
            bottom: 60px;
            width: 50px;
            z-index: 2;
        }

        .layouts-pic-3 {
            position: absolute;
            top: -76px;
            right: 100px;
            width: 180px;
            z-index: 2;
        }

        .layouts-pic-4 {
            position: absolute;
            top: -140px;
            left: 50px;
            width: 350px;
            z-index: 2;
        }

        .layouts-pic-5 {
            position: relative;
            margin-top: 120px;
        }

        @media screen and (max-width: 576px) {

            .layouts-pic-1 {
                left: calc(50% - 120px);
                bottom: 80px;
                width: 80px;
            }

            .layouts-pic-2 {
                bottom: 20px;
                right: calc(50% - 100px);
                width: 30px;
            }

            .layouts-pic-3 {
                top: 20px;
                right: calc(50% - 130px);
                width: 100px;
            }

            .layouts-pic-4 {
                top: 0;
                left: calc(50% - 140px);
                width: 180px;
            }

            .layouts-pic-5 {
                padding-top: 80px;
            }

        }
    }

}

/* Css id like */

#like {
    .bg-like {
        background: rgb(233, 240, 245);
        background: linear-gradient(90deg, rgba(233, 240, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
        border: 1px solid rgb(233, 240, 245);
        padding: 50px 0 50px 120px;
        border-radius: 50px;
        box-shadow: 1px 20px 0px -10px #eef2f6, 2px 32px 0px -10px #f3f7f9;
        position: relative;
        z-index: 0;
    }

    .like-content {
        padding: 100px 0;

    }

    .btn-purple {
        margin-top: 30px;
    }

    .like-pic {
        position: relative;
        z-index: 2;

        transform: translateX(100px) rotate(30deg);
        opacity: 0;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        -o-transition-property: transform, opacity;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;

        &.aos-animate {
            opacity: 1;
            transform: translateX(0) rotate(0);
        }
    }

    .like-circle-pink {
        position: absolute;
        width: 410px;
        height: 410px;
        background: #fab8c4;
        margin-top: -250px;
        top: 50%;
        z-index: 1;
        border-radius: 50%;
    }

    .like-circles {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .like-circle-1 {
            position: absolute;
            left: 240px;
            bottom: -73px;
            width: 130px;
            height: 130px;
            background: #FFDC60;
            border-radius: 100%;
        }

        .like-circle-2 {
            position: absolute;
            top: 58px;
            left: 44.5%;
            width: 70px;
            height: 70px;
            background: #FAB8C4;
            border-radius: 100%;
        }

        .like-circle-3 {
            position: absolute;
            top: -45px;
            right: 150px;
            width: 90px;
            height: 90px;
            background: #5956E9;
            border-radius: 100%;
        }

        .like-circle-4 {
            position: absolute;
            top: 174px;
            right: 26px;
            width: 24px;
            height: 24px;
            background: #FAB8C4;
            border-radius: 100%;
        }

        @media screen and (max-width: 576px) {
            .like-circle-1 {
                left: 240px;
                bottom: 450px;
                width: 40px;
                height: 40px;
            }

            .like-circle-2 {
                top: 58px;
                left: 10%;
                width: 20px;
                height: 20px;
            }

            .like-circle-3 {
                top: 20px;
                right: 150px;
                width: 50px;
                height: 50px;
            }

            .like-circle-4 {
                top: 174px;
                right: 26px;
                width: 15px;
                height: 15px;
            }
        }
    }

    @media screen and (max-width: 576px) {

        .bg-like {
            z-index: 2;
            padding: 10px 0px 20px 20px;

        }

        .like-right {
            padding-bottom: 40px;
        }

        .like-circle-pink {
            top: -20px;
            width: 280px;
            height: 280px;
            right: 70%;
            margin: 0 -180px 0 0;

        }
    }


}


/* Pricing */
#pricing {

    .pricing-text {
        font-weight: 600;
    }

    .pricing-stage.stage {
        font-weight: 600;
    }

    .pricing-header {
        padding-bottom: 70px;
    }

    .pricing-title {
        font-size: 70px;
        margin-bottom: 30px;

        span {
            font-size: 70px;
            color: #5956E9;
        }
    }

    .pricing-title-ctn {
        font-size: 40px;
    }

    // pricing content

    .pricing-content {
        display: flex;

        .pricing-item {
            padding: 40px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;

            &:hover {
                box-shadow: 0 .125rem .625rem rgba(0, 0, 0, .05) !important;
            }

            .pricing-icon {
                display: flex;
                padding: 15px 0;
            }

            .pricing-text {
                padding-left: 20px !important;
                font-size: 14px;
                font-weight: 400;
            }

            .pricing-title {
                font-size: 40px;
                line-height: 0.5;
            }

            .pricing-price {
                font-size: 20px;
                font-weight: 600;

                .pricing-m {
                    font-size: 14px;
                    font-weight: 300;
                    color: #ccc;
                }
            }

            .pricing-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .col-text {
                display: flex;
                justify-content: left;
                align-items: center;
                line-height: 1.8;
                height: 100%;
            }

            .price-icon {
                margin: 20px 0;
            }
        }

        .pricing-item-blue {
            background-color: #5956E9;
            color: #fff;

            .pricing-m {
                font-size: 14px;
                font-weight: 300;
                color: #bec2ca;
            }

        }

        .pricing-item-white {
            border: 1px solid #bec2ca;
        }

        .pricing-list {
            padding: 30px 0;
        }
    }

    // .pricing-item {
    //     &:hover {
    //         box-shadow: 0 .125rem .625rem rgba(0, 0, 0, .05) !important;
    //     }
    // }
}


@media screen and (max-width: 576px) {

    .pricing-item {
        padding: 10px 30px;
    }

}

#collaboratio {
    background-color: #FAB8C4;
}


footer {
    background-color: #F7FAFD;
    padding: 50px 0;

    ul {
        list-style: none;

        .footer-title {
            font-weight: 500;
            color: #999FAE;
            padding-bottom: 30px;
        }

        li {
            .footer-link {
                text-decoration: none;
                color: #292930;
                font-size: 14px;
                line-height: 2;

                &:hover {
                    color: #5956E9;
                }
            }
        }
    }

    .copy-right {
        font-size: 14px;
        color: #999FAE;
    }

}

#contact {
    margin-top: 100px;

    .container {
        position: relative;
    }

    .bg-contact {
        // background-color: #ffd756;
        background-color: #FAB8C4;
        border-radius: 40px;
        padding: 30px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .05);
    }

    .conact-title {
        font-size: 25px;
        color: #5956E9;
        line-height: 2;
    }

    input {
        box-shadow: none;
        border: none;
        border-radius: 20px;
        margin-right: 10px;
        background-color: #fffae8;
        width: 300px;
    }

    .btn-white {
        background: #ffffff;
        color: #5956E9;
        border: none;
        height: 40px;
        border-radius: 20px;
        padding: 0 20px;
    }

    .contact-pic {
        // display: flex;
        // justify-content: right;
        position: absolute;
        z-index: 2;
        right: -130px;
        bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .contact-pic {
        display: none;
    }

    .title-color {
        font-size: 45px;
    }

}


.access {
    background-color: #ECF2F6;

    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // height: 500px;
    .access-body {
        position: relative;
    }

    .access-pic {
        position: absolute;
        display: inline-block;
        justify-content: center;
        align-items: center;
        z-index: 6;
        top: 150px;
        left: 200px;

        .access-pic-1 {
            position: absolute;
            z-index: 9;
            top: -57px;
            right: -44px;
            width: 300px !important;
        }

        .access-pic-2 {
            position: absolute;
            z-index: 8;
            top: 178px;
            left: -98px;
            width: 213px !important;
        }

        .access-pic-3 {
            position: relative;
            z-index: 7;
            width: 487px !important;

        }
    }

    .access-circles {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .access-circle:first-child {
            position: absolute;
            z-index: 4;
            width: 475px;
            height: 475px;
            background: #5956E9;
            border-radius: 250px;

        }

        .access-circle:nth-child(2) {
            position: absolute;
            z-index: 3;
            width: 603px;
            height: 603px;
            border-radius: 350px;
            background: rgba(255, 255, 255, 0.3);
        }

        .access-circle:nth-child(3) {
            position: relative;
            // top: -110px;
            z-index: 2;
            width: 723px;
            height: 723px;
            border-radius: 390px;
            background: rgba(255, 255, 255, 0.3);
        }
    }

    .access-clouds {
        position: absolute;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 150px;
        left: 200px;

        .access-cloud-1 {
            position: absolute;
            z-index: 9;
            top: -57px;
            right: 80px;
        }

        .access-cloud-2 {
            position: absolute;
            z-index: 8;
            top: 300px;
            left: 420px;
        }
    }
}

@media screen and (max-width: 576px) {

    .access {
        display: none;
    }


}

// back to top

#myBtn {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 2.75rem;
    height: 2.75rem;
    transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, background-color 0.25s ease-in-out;
    border-radius: 50%;
    background-color: rgba(89, 86, 233, 0.25);
    color: #fff;
    text-align: center;
    border: none;

    i {
        font-size: 25px;
    }

    &:hover {
        background-color: #5956E9;
    }
}

/* Scroll Icon*/

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
    z-index: 12;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    //top: 80%;
    bottom: 30px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #2522BA;
    border-radius: 25px;
    cursor: pointer;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #5956E9;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}